/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body, html {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
}
table {
    width: 100%;
    height: 100%;
}

table tr, table td {
    height: 100%;
}

day-detail {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.mat-card {
    width: 100%;
}

button.button-block {
    width: 100%;
    min-width: inherit;
}